#tags-selector p {
   background-color: #eeeeee;
   padding: 10px 0;
   border-radius: 3px;
   text-align: center;
   margin: 7px;
   width: 90vw;
   max-width: 325px;
   transition: .3s;
   cursor: pointer;
}

@media (min-width: 768px) {
   #tags-selector {
      display: grid;
      grid-template-columns: repeat(2, 50%);
   }
}

@media (min-width: 1250px) {
   #tags-selector {
      grid-template-columns: repeat(4, 25%);
   }
   #tags-selector p {
      width: 275px;
   }
}

.selected-tag {
   background-color: #3387E1 !important;
   color: white;
}

/* Terminado, nada más que revisar... */