.comment {
   margin-bottom: 7.5px;
   position: relative;
}

.comment textarea {
   padding: 7.5px;
   font-size: 1.1em;
   height: 85px;
   resize: none;
   border: 2px solid black;
   border-radius: 5px;
   outline: none;
   z-index: 1;
}

.comment textarea::placeholder {
   text-align: center;
}

.comment p {
   position: absolute;
   right: 5px;
}
