#rating-selector {
   display: flex;
   justify-content: center;
   border: 2px solid;
   padding: 10px;
   margin-bottom: 5px;
   border-radius: 3px;
}

#rating-selector button {
   font-size: 2em;
   margin: 0 10px;
   outline: none;
   border: none;
   background: none;
}

#rating-view {
   width: 90px;
   height: 90px;
   display: inherit;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   font-weight: bolder;
   font-size: 1.9em;
   background-color: #6dcc6d;
}

/* REVISADO Y NO HAY MÁS QUE RESUMIR: 02/02/2021 */