#date-input {
   width: 95%;
   margin: 3.5px auto;
}

#date-input label {
   font-size: 1.1em;
}

#date-input-entries {
   display: flex;
   justify-content: space-between;
   background-color: white;
} 

#date-input select,
#date-input input {
   border: 2px solid black;
   border-radius: 4px;
   font-size: 1.1em;
   outline: none;
}

#date-input select {
   height: 44px;
   width: 50%;
   background: none;
   text-align-last: center;
   background-color: white;
}

#date-input select option[value=""][disabled] {
   display: none;
}
   
#date-input input {
   height: 40px;
   width: 20%;
   text-align: center;
}

#date-input input::placeholder {
   color: black;
}

#date-input-entries,
#date-input span {
   position: relative;
   z-index: 1;
}

#date-input span {
   display: inherit;
   z-index: 0;
   transform: translateY(-25px);
   transition: .7s transform;
   color: red;
}
