#uploader-wrapper {
   width: calc(100% - 22px);
   max-width: 228px;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 10px;
   margin: 10px auto;
}

#uploader-wrapper #loadlogo-btn {
   display: flex;
   align-items: center;
   height: 45px;
   max-width: unset;
   width: 100%;
   color: #656565;
   border: 2px solid grey;
   font-weight: bold;
   font-size: 1.1em;
}

#loadlogo-btn figure {
   height: 35px;
   display: inherit;
   align-items: inherit;
   padding: 2px;
   border-right: 2px solid grey;
}

#loadlogo-btn span {
   transition: transform .6s;
}

#loadlogo-btn figure img {
   height: 95%;
   transition: transform 1s;
}

#loadlogo-btn span {
   width: calc(100% - 40px);
}

.on-success {
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #00E077;
   color: white;
}

@keyframes span-animation {
   50% {
      transform: translateX(calc(-100% - 40px));
   }
   100% {
      transform: initial;
   }
}

@keyframes img-animation {
   50% {
      transform: translateY(100%);
   }
   100% {
      transform: initial;
   }
}