.contact-link {
   text-align: center;
   text-decoration: none;
   position: relative;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   transition: color .5s;
   color: black;
}

.contact-link i {
   font-size: 4em;
}

.contact-link i,
.contact-link h3 {
   position: inherit;
   z-index: 1;
}

.contact-link:hover {
   color: white;
}

.fake-before {
   content: '';
   position: absolute;
   transition: all .5s;
   transition-timing-function: cubic-bezier(
      0.310, -0.105,
      0.430, 1.590
   );
   transform: rotate(45deg);
   top: 90%;
   left: -130%;
   width: 140%;
   height: 140%;
   border-radius: inherit;
}

.contact-link:hover .fake-before {
   top: -18%;
   left: -18%;
}
