.contact-link {
   text-align: center;
   text-decoration: none;
   position: relative;
   padding: 10px;
   border-radius: 10px;
   box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   transition: color .5s;
   color: black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 125px;
   height: 115px;
   margin: auto;
}

.contact-link i {
   font-size: 4em;
}

.contact-link i,
.contact-link h3 {
   z-index: 1;
}

.contact-link:hover {
   color: white;
}

.fake-before {
   content: '';
   position: absolute;
   transition: all .5s;
   transition-timing-function: cubic-bezier(
      0.310, -0.105,
      0.430, 1.590
   );
   transform: rotate(45deg);
   top: 90%;
   left: -130%;
   width: 140%;
   height: 145%;
}

.contact-link:hover .fake-before {
   top: -22%;
   left: -20%;
}

.nonet {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
