.opinion {
   width: calc(90vw - 20px);
   max-width: 325px;
   margin: 7px;
   font-size: 0.9em;
   border-left: 2px solid black;
   padding: 3px 0 3px 7px;
}

.opinion-title {
   display: flex;
   align-items: center;
}

.gray-content {
   color: #4f4f4f;
} 

.opinion-title span {
   margin: 0 7px;
}
