#progress-bar {
   width: 90vw;
   max-width: 325px;
   height: 15px;
   border: 2px solid #333;
   border-radius: 50px;
}

#filler {
   background-color: #28A745;
   height: 100%;
   width: 0;
   border-radius: inherit;
   transition: width .2s;
}