#uploader-wrapper {
   width: calc(60vw - 12px);
   max-width: 228px;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   flex-direction: column;
}

#uploader-wrapper img {
   width: 25vw;
   max-width: 125px;
}

@media screen and (min-width: 650px) {
   #uploader-wrapper {
      flex-direction: row;
      justify-content: space-between;
   }
}