#uploader-wrapper {
   width: calc(60vw - 12px);
   max-width: 228px;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 10px;
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   flex-direction: column;
}

#uploader-wrapper #loadlogo-btn {
   display: flex;
   align-items: center;
   height: 45px;
   max-width: unset;
   width: 100%;
   color: #656565;
   border: 2px solid grey;
   overflow: hidden;
   font-weight: bold;
   font-size: 1.1em;
}

#loadlogo-btn figure {
   height: calc(100% - 4px);
   display: inherit;
   align-items: inherit;
   padding: 2px;
   border-right: 2px solid grey;
}

#loadlogo-btn figure img {
   height: 95%;
}

#loadlogo-btn span {
   width: calc(100% - 40px);
}
