.product-shop {
   display: flex;
   align-items: center;
   justify-content: start;
}

.product-shop .logo {
   height: 45px;
   width: 45px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
}
.product-shop .product-shop-info {
   font-size: 0.8em;
   height: 45px;
}

.product-wrapper {
   width: calc(90vw - 20px);
   max-height: 425px;
   max-width: 275px;
   border: 2px solid black;
   padding: 10px;
   border-radius: 10px;
   display: inherit;
   flex-direction: column;
   position: relative;
}

.product-wrapper .product-img {
   width: 90%;
   height: 265px;
   object-fit: contain;
   align-self: center;
}

.product-footer {
   border-left: 2px solid black;
   padding: 5px;
}

.product-footer span {
   font-weight: bold;
   font-size: 1.3em;
}

.product-wrapper .fav-icon {
   position: absolute;
   right: 0;
   padding-right: 10px;
}