.shop {
   display: flex;
   align-items: center;
   justify-content: start;
}

.shop .logo {
   height: 45px;
   width: 45px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
}
.shop .info {
   font-size: 0.8em;
   height: 45px;
}

.product {
   width: calc(90vw - 20px);
   max-height: 425px;
   border: 2px solid black;
   padding: 10px;
   border-radius: 10px;
   display: inherit;
   flex-direction: column;
}

.product .product-img {
   width: 90%;
   height: 265px;
   object-fit: contain;
   align-self: center;
}

.product-footer span {
   font-weight: bold;
   font-size: 1.3em;
}