textarea#ppp-description {
   outline: none;
   border: 2px solid;
   border-radius: 3px;
   height: 100px;
   padding: 5px;
   font-size: 1.1em;
   resize: none;
}

.input-wrapper.description {
   position: relative;
}

.input-wrapper.description p#ml-indicator {
   position: absolute;
   right: 0;
}