#images-uploader {
   margin: 5px 0;
   text-align: center;
}
/* LISTO HASTA AQUí */
#images-uploader > button {
   max-width: unset;
   width: 60%;
   border-radius: 3px;
}

#images-uploader > div, #loaded-list {
   background-color: #f8f8f8;
   padding: 10px;
}

#images-uploader > div:first-of-type {
   max-width: 330px;
   width: calc(90vw - 20px);
   border-radius: 5px;
   /* height: 20px; */
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
}

#images-uploader > div i {
   position: absolute;
   right: 20px;
}

#images-uploader #loaded-list {
   position: absolute;
   z-index: 2;
   display: flex;
   flex-wrap: wrap;
   top: calc(100% - 1px);
   width: 85%;
   border-radius: 0 0 5px 5px;
   /* justify-content: space-evenly; */
}

.show-loaded {
   display: visible;
}

.show-img-modal .swal-title {
   font-size: 15px;
   overflow-wrap: break-word;
}

span#images-blank-error {
   color: red;
}

@media (min-width: 768px) {
   #images-uploader div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
   }
   #images-uploader #loaded-list {
      /* bottom: 44px; */
      /* transd */
      border-radius: 5px 5px 0 0;
      transform: translateY(calc(-100% - 35px));
   }
   #images-uploader > div i {
      transform: rotate(180deg);
   }
}

/* Teerminado */
