.imguploader-wrapper {
   width: 45%;   
   height: 45%;
   margin: 5px;
}

.imguploader-wrapper button {
   width: 100%;
   height: 100%;
   border: 2px solid black;
   border-radius: 3px;
   outline: none;
}

.imguploader-wrapper img:first-child {
   height: 90%;
}

.imguploader-wrapper img:not(:first-child) {
   position: absolute;
   width: 17px;
   top: 0;
   right: 0;
   padding: 3px;
}