.imguploader {
   width: 45%;   
   height: 45%;
   margin: 5px;
   position: relative;
}

.imguploader > button {
   width: 100%;
   height: 100%;
   border: 2px solid black;
   border-radius: 3px;
   position: relative;
   outline: none;
   display: flex;
   align-items: center;
   justify-content: center;
}

.imguploader img:first-child {
   height: 90%;
   width: 90%;
}

.imguploader > img {
   width: 20px;
   position: absolute;
   top: 0;
   right: 0;
   margin: -7px;
   cursor: pointer;
}
