.loaded-image {
   background-color: white;
   padding: 10px;
   border-radius: 5px;
   text-align: center;
   width: calc(100% - 25px);
   margin: 5px 0;
   position: relative;
}

.loaded-image > div {
   overflow-x: scroll;
}

.loaded-image button {
   font-size: 15px;
   margin-top: 5px;
   color: #2c87f0;
   text-decoration: underline;
   border: none;
   outline: none;
   background: none;
}

.loaded-image img {
   width: 17px;
   position: absolute;
   top: 0;
   right: 0;
   margin: -5px;
}

.img-on-modal {
   width: 100%;
   border-radius: 3px;
   max-width: 425px;
   max-height: 425px;
}