#price-input {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
}

#price-input .input-wrapper {
   width: 70%;
}

#price-input .input-wrapper input {
   text-align: center;
}

#price-input select {
   text-align-last: center;
   width: 25%;
   height: 44px;
   border: 2px solid black;
   background: none;
   border-radius: 3px;
   outline: none;
}

/* Terminado, nada más que revisar... */