#piu-wrapper span {
   display: flex;
   justify-content: center;
}

#piu-wrapper span p {
   margin-left: 5px;
   color: red;
}

#product-image-uploader {
   height: 185px;
   border: 2px solid black;
   margin-top: 7px;
   display: flex;
   justify-content: space-evenly;
   /* align-items: center; */
   border-radius: 5px;
   flex-wrap: wrap;
   padding: 10px;
}
