.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper label {
    font-size: 1.1em;
}

.input-wrapper input,
.input-wrapper span {
    position: relative;
}

.input-wrapper input {
    height: 40px;
    outline: none;
    padding-left: 5px;
    font-size: inherit;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.1em;
    z-index: 1;
}

.input-wrapper span {
    z-index: 0;
    transform: translateY(-25px);
    transition: .7s transform;
    color: red;    
}