.follow-btn {
   color: #0978e8;
   margin-left: 10px;
   position: relative;
   transition: .5s;
}

.following {
   background-color: #0978e8 !important;
   color: white;
   border: 2px solid black !important;
}

/* Terminado, nada más que revisar... */