#opinions-actions {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  #clients-opinions {
     position: sticky;
     top: 75px;
  }
}

/* Terminado, nada más que revisar... */