#products {
  display: inherit;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

@media (min-width: 1500px) {
  #products {
     display: grid;
     grid-template-columns: repeat(3, 33%); 
  }
}

.no-prods-styles {
  height: calc(100% - 8vh);
  justify-content: center;
}
