.product-wrapper {
   display: inherit;
   flex-direction: column;
   position: relative;
   width: 290px;
   margin: 10px;
   padding: 10px;
   border: 2px solid black;
   border-radius: 10px;
}

.product-shop {
   display: inherit;
}

.product-shop .logo {
   width: 45px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
}

.product-shop .product-shop-info {
   font-size: 0.8em;
   height: 45px;
}

.product-wrapper .product-img {
   height: 265px;
   align-self: center;
}

.product-footer {
   border-left: 2px solid black;
   padding: 5px;
}

.product-footer span {
   font-weight: bold;
   font-size: 1.3em;
}

.product-wrapper .fav-icon {
   position: absolute;
   right: 0;
   padding-right: 10px;
}
