.form-layout {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

#form-header {
    display: inherit;
    flex-direction: inherit;
}

#form-header > img {
    height: 130px;
    padding: 10px 10px 0 10px;
}

#form-header > h2 {
    font-size: 1.7em;
    text-align: center;
    margin: 10px 0;
}

.form-layout > #form-entries {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 767px) {
    .form-layout {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media screen and (min-width: 1023px) {
    .form-layout {
        flex-direction: row;
    }

    #form-header {
        flex-direction: column;
        border-right: 3px solid black;
        padding-right: 30px;        
    }

    .form-layout > #form-entries {
        margin-left: 50px;
    }
}
