#loader-wrapper {
    width: 120px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#loader-wrapper > #loader {
    border: 7px solid #0000000f;
    border-top: 7px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
