.contact-net {
   width: 300px;
   height: 70px;
   display: flex;
   align-items: center;
   position: relative;
   overflow: hidden;
   box-shadow: 0 0px 5px 0px rgb(0 0 0 / 10%);
   border-radius: 7px;
}

.logo-wrapper {
   min-width: 75px;
   height: 100%;
   display: inherit;
   justify-content: center;
   align-items: inherit;
   z-index: 2;
   background-color: white;
}

.logo-wrapper > img {
   height: 75%;
}

.div-line {
   min-width: 2px;
   background-color: black;
   height: 70%;
   z-index: 2;
}

.contact-net > h1 {
   font-size: 1.5em;
   padding: 0 5px 0 20px;
   transition: transform 1s;
   word-break: break-all;
}

.data-input {
   position: absolute;
   width: calc(75% - 2px);
   right: 2px;
   display: inherit;
   align-items: inherit;
   transition: transform 1s;
   transform: translateX(-100%);
   z-index: 1;
}

.data-input > input {
   height: 35px;
   width: 165px;
   border: 2px solid black;
   border-radius: 0 5px 5px 0;
   outline: none;
   text-align: center;
   font-size: 1.1em;
   padding-right: 35px;
}

.data-input > img {
   height: 25px;
   position: absolute;
   right: 27.5px;
}

.header-anim {
   transform: translateX(-100%);
}

.data-input-anim {
   transform: initial !important;
}
