/* #clients-opinions-page {
   padding-top: 80px;
} */

#clients-opinions-page h2 {
   text-align: center;
   max-width: 300px;
   margin: auto;
}

#clients-opinions {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   /* margin: 10px auto; */
}

#clients-opinions a {
   color: blue;
   font-size: 1.1em;
   margin: 7px;
}

/* @media (min-width:768px) {
   #clients-opinions-page {
      padding-top: 135px;
   }
} */
