#clients-opinions-page {
   max-width: 1500px;
   margin: auto;
}

#clients-opinions-page h2 {
   text-align: center;
   overflow-wrap: anywhere;
}

#opinions-result {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 10px;
}
