#contact-networks-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10vh 0;
}

#contact-networks-form h2 {
   margin-bottom: 10px;
   background-color: #c9c9c91f;
   padding: 8px;
   width: 284px;
   border-radius: 5px;
   text-align: center;
}

#contact-networks-form .btnloader-wrapper {
   margin-top: 7.5px;
}

@media screen and (min-height: 690px) {
   #contact-networks-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
   }
}

.cn-demo-modal .swal-button {
   background-color: #0069d9cc;
}

.cn-demo-modal .swal-content {
   margin-top: 0;
}

#cn-demo {
   padding-top: 25px;
}

#cn-demo h2 {
   width: 55%;
   margin: auto;
   padding: 5px 5px;
}

#cn-demo h3 {
   font-weight: lighter;
   margin-bottom: 5px;
   padding: 7px;
}

#cn-demo > * {
   background-color: #c9c9c91f;
   border-radius: 5px;
}

#cn-demo div {
   padding: 17px;
}

#cn-demo div img {
   width: 90%;
   border-radius: 5px;
   margin: 2px 0;
}

/* REVISADO Y NO HAY MÁS QUE RESUMIR: 27/02/2021 */
