#user-contact-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 10vh 0;
}

#user-contact-form h2 {
   margin-bottom: 10px;
   background-color: #c9c9c91f;
   padding: 8px;
   width: 284px;
   font-size: 1.6em;
   border-radius: 5px;
   text-align: center;
}

#user-contact-form .contact-net {
   margin-bottom: 12.5px;
}

#contact-interaction-btns button {
   width: 100px;
   height: 40px;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: 1.05em;
   background-color: #0069D9;
   outline: none;
}

#contact-interaction-btns {
   display: inherit;
   justify-content: space-evenly;
   width: 80%;
   margin-top: 7.5px;
}

#contact-interaction-btns button:first-child {
   background-color: #00000021;
   color: black;
}

@media screen and (min-height: 625px) {
   #user-contact-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin: 0;
   }
}
