#email-verification-page {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   width: 100%;
}

#email-verification-page img {
   width: 50vw;
   max-width: 200px;
}

#email-verification-page h3 {
   font-size: 1.15em;
   max-width: 450px;
   margin: 7px auto;
}

#email-verification-page h3 p {
   font-size: 18px;
   background-color: #8080801a;
   padding: 7px 10px;
   border-radius: 5px;
   margin: 3px auto;
}

#email-verification-page .btnloader {
   margin: 15px 0;
}

.blank-entry-error {
   border-color: red !important;
}

#incorrect-code {
   font-size: 1.2em;
   color: red;
   margin-bottom: 7px;
}