#explore-page {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#explore-results {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
}

#explore-page > h1 {
   font-size: clamp(1em, 7vw, 1.7em);
   text-align: center;
}

@media (min-width: 768px) and (min-height: 975px), (min-width: 1250px) {
   #explore-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0 !important;
   }
   #explore-page + #footer-wrapper {
      position: absolute;
      bottom: 0;
      width: 100%;
   }
}

#explore-page .btnloader {
   margin: 10px;
}
