#explore-page {
   padding-top: 75px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#explore-results {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#explore-page > h1 {
   font-size: clamp(1em, 7vw, 1.7em);
   text-align: center;
}

@media (min-width: 768px) {
   #explore-page {
      padding-top: 120px;
   }
}

#explore-page .btnloaderpper {
   margin: 10px;
}

/* Terminado, nada más que resumir... */