/* #favorites-products {
  padding-top: 75px;
} */

#favorites-products > h2 {
  text-align: center;
}

#favorites-products > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* @media (min-width: 768px) {
  #favorites-products {
    padding-top: 115px;
  }
} */