#login-form {
   padding-top: 75px;
}

#login-header {
   text-align: center;
}

#login-header img {
   width: 55vw;
   max-width: 245px;
}

#login-entries {
   width: max-content;
   margin: 10px auto;
   display: flex;
   flex-direction: column;
}

#login-entries .input-wrapper {
   margin-bottom: 5px;
}

#login-entries p {
   text-align: center;
   font-weight: bold;
}

#login-entries .btnloader-wrapper {
   margin: 5px auto;
}

@media (min-height: 650px), (min-width: 768px) {
   #login-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 0;
   }
}

@media (min-width:768px) {
   #login-form {
      display: flex;
      align-items: center;
   }
   #login-header{   
      border-right: 5px solid black;
      padding-right: 15px;
      margin-right: 15px;
      text-align: left;
   }
   #header-text {
      border-left: 5px solid black;
      padding: 5px;
   }
}

/* REVISADO Y NO HAY MÁS QUE RESUMIR: 02/02/2021 */