#logup-form {
   margin: 5vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#logup-entries {
   border-radius: 7.5px;
   padding: 10px;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 325px;
   width: 80vw;
}

#logup-entries .input-wrapper {
   margin: 3.5px auto;
   width: 95%;
}

#logup-entries button {
   width: 120px;
   height: 40px;
   background-color: #0069D9;
   border: none;
   border-radius: 4px;
   color: white;
   font-size: 1em;
   margin-top: 7.5px;
}

#logup-entries p {
   text-align: center;
   margin-top: 5px;
   font-size: 1.1em;
}
