#form-entries > textarea {
    border: 2px solid black;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    padding: 10px;
    resize: none;
    font-size: 1.1em;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 500px) {
    #form-entries > textarea {
        width: calc(80vw - 20px);
    }
}