#entries > textarea {
    border: 2px solid black;
    border-radius: 5px;
    width: 220px;
    height: 100px;
    padding: 10px;
    resize: none;
    font-size: 1.1em;
}

#entries > textarea::placeholder {
    color: black;
    text-align: center;
}
