#opinion-form {
   padding-top: calc(65px + 15px);
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 25px;
}

#op-header {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 80vw;
   max-width: 350px;
}

#op-header figure {
   width: 60%;
}

#op-header figure img {
   width: 100%;
}

#op-comment {
   width: 85vw;
   max-width: 350px;
}

#op-comment label {
   font-weight: bold;
   font-size: 1.2em;   
   padding: 2px;
}

#op-comment textarea {
   padding: 7.5px;
   font-size: 1.1em;
   width: calc(100% - 19px);
   height: 85px;
   resize: none;
   border: 2px solid black;
   border-radius: 5px;
   outline: none;
}

#op-comment textarea::placeholder {
   text-align: center;
}

#opinion-form button {
   width: 100px;
   height: 37px;
   background: none;
   border: 2px solid black;
   border-radius: 5px;
   margin-top: 10px;
   outline: none;
}

@media screen and (min-width: 768px) {
   #opinion-form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -65%);
      display: grid;
      grid-template-columns: min-content min-content;
      justify-content: center;
      max-width: 900px;
      margin: auto;
   }   
   #op-header {
      grid-row: 1/4;
   }
   #opinion-form button {
      justify-self: center;
   }
}
