#opinion-form {   
   display: flex;
   flex-direction: column;
   align-items: center;
}

#op-header {
   width: 80vw;
   max-width: 350px;
   text-align: center;
}

#op-header img {
   width: 60%;
}

#op-header h2 {
   overflow-wrap: anywhere;
}

#opinion-entries {
   display: grid;
}

#opinion-form h3 {
   margin: 10px 0;
   text-align: center;
}

#opinion-form .btnloader {
   margin: auto;
}

@media (min-width: 768px) {
   #opinion-form {
      flex-direction: row;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0 !important;
   }
}