#not-found {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -55%);
   width: 85vw;
   max-width: 750px;
   text-align: center;
}

#not-found img {
   max-width: 400px;
   width: 100%;
}

#not-found h3 {
   font-size: 1.9em;
   background-color: #ff5959;
   color: white;
   padding: 10px;
   border-radius: 8px;
   margin: 5px auto;
   max-width: 380px;
}

#not-found a {
   font-size: 1.3em;
}