#not-found {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 85vw;
   max-width: 750px;
   text-align: center;
}

#not-found img {
   max-width: 400px;
}

#not-found h3 {
   font-size: 1.9em;
   margin-top: -75px;
}

#not-found a {
   font-size: 1.3em;
}