#post-product-page {
   display: flex;
   flex-direction: column;
   align-items: center;
}
#ppp-header {
   text-align: center;
   max-width: 330px;
}

#ppp-header img {
   width: 60%;
}

#ppp-product-info {
   display: grid;
}

#ppp-product-info > .input-wrapper, #price-input {
   margin-bottom: 5px;
}
#post-product-page .btnloader {
   margin: 5px auto;
}

@media (min-width:768px) {
   #post-product-page {
      display: grid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);      
   }
   #ppp-product-info {
      grid-column: 2;
      grid-row: 1/3;
   }
}

.good-post .swal-text {
   text-align: center;
}

/* Terminado, nada más que revisar... */