#post-product {
   margin: 5vh auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90vw;
}

#post-product figure {
   width: 200px;
}

#post-product figure img {
   width: 100%;
}

#post-product h2 {
   text-align: center;
}