#product-page-wrapper {
   height: 100vh;
   border-left: 15px solid #cbcbcb;
   padding: 20px;
}

#product-page-wrapper figure {
   max-width: 650px;
   height: 45vh;
   display: flex;
   align-items: center;
}

#product-page-wrapper figure img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

#productpage-info {
   max-width: 400px;
}

@media screen and (min-width:768px) {   
   #productpage-info {
      font-size: 1.3em;
   }
}

#iproduct-btns {
   margin-top: 15px;
}

#iproduct-btns button {
   width: 115px;
   height: 45px;
   border: none;
   border-radius: 5px;
   background-color: #0069d9;
   color: white;
}

#iproduct-btns button:last-child {
   background-color: #cbcbcb;
   color: initial;
   margin-left: 15px;
}

@media screen and (min-width:1023px) {
   #product-page-wrapper {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
   }

   #product-page-wrapper figure {
      height: 75vh;
   }
}