.product-page {
   padding-top: 75px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#pp-product-info {
   background-color: #f1f1f1;
   padding: 15px;
   width: calc(100vw - 30px);
   border-radius: 20px 20px 0 0;
   margin-top: 10px;
}

#pp-product-info > div {
   padding: 10px;
   background-color: white;
   border-radius: 10px 10px 0 0;
}

#pp-product-info > div > * {
   max-width: 350px;
}

#pp-product-info > div h2 {
   font-size: clamp(1em, 6vw, 1.7em);
}

#pp-product-info > div h4 {
   font-size: .9em;
   color: #948f8f;
}

#pp-product-info > div > p {
   font-weight: bold;
}

#btns {
   margin-top: 5px;
}

#btns button {
   height: 40px;
   width: 100px;
   background: none;
   border-radius: 5px;
   outline: none;
   font-size: 1em;
   border: 2px solid;
}

#btns button:first-child {
   color: #2c87f0;
   margin-right: 10px;
}

@media (min-width:768px) {
   .product-page {
      padding-top: 120px;
      display: grid;
      width: max-content;
      margin: auto;
   }
   #pp-product-info {
      grid-column: 2;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      margin: 0px 0 0 -3px;
      border-radius: 0 20px 20px 0;
   }
   #pp-product-info > div {
      height: calc(100% - 20px);
      display: flex;
      flex-direction: column;
      /* min-width: 290px; Pa cuando no hay auth no se recoga el parent */
   }
   #pp-product-info #btns {
      flex: 1;
      display: inherit;
      align-items: flex-end;
   }
}

@media (min-height: 850px) {
   .product-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 0;
   }
}
