#product-page-wrapper {
   padding: 85px 0 2.5vh 25px;
}

/* #product-page-wrapper figure {
   display: flex;
   align-items: center;
} */

#product-page-wrapper img,
#productpage-info {
   width: calc(100% - 10px);
}

#product-page-wrapper img {
   max-width: 650px;
   height: 45vh;
   object-fit: contain;
}

#productpage-info {
   max-width: 400px;
}

@media screen and (min-width:768px) {   
   #productpage-info {
      font-size: 1.3em;
   }
}

#iproduct-btns {
   margin-top: 15px;
}

#iproduct-btns button {
   width: 115px;
   height: 45px;
   border: none;
   border-radius: 5px;
   background-color: #0069d9;
   color: white;
}

#iproduct-btns button:last-child {
   background-color: #cbcbcb;
   color: initial;
   margin-left: 15px;
}

#page-border {
   position: absolute;
   z-index: -1;
   width: 15px;
   height: 100vh;
   top: 0;
   background-color: #cbcbcb;
}

@media screen and (min-width:400px) {
   #product-page-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
}

@media screen and (min-width:768px) {
   #product-page-wrapper {
      padding-top: calc(75px + 45px);
   }
}

@media screen and (min-width:1023px) {
   #product-page-wrapper {
      flex-direction: row-reverse;
      width: max-content;
      height: max-content;
      padding: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   #product-page-wrapper img {
      height: max-content;
   }
}

@media (min-width:1023px) and (max-width:1100px) {
   #product-page-wrapper {
      width: 1000px;
      padding-left: 25px;
   }
}
