#search-results-page {
   padding-top: 75px;
}

#srp-header {
   text-align: center;
   /* margin: 15px 0 5px 0; */
}

#srp-results {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

@media (min-width:768px) {
   #search-results-page {
      padding-top: 120px;
   }
}