#srp-header {
   text-align: center;
   overflow-wrap: anywhere;
}

#srp-results {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#blank-results {
   font-size: 1.2em;
   max-width: 300px;
   text-align: center;
   margin: 10px 0;
   background-color: #ff8282;
   padding: 7px;
   border-radius: 5px;
   font-weight: bolder;
}
