#shop-profile {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #d5d5e040;
   padding-top: calc(75px + 15px);
}

#profile-header,
#shop-stats,
#shop-products,
#shop-opinions,
#shop-social-networks {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   width: 90%;
   padding: 4vh 0;
   border-radius: 10px;
   margin: auto;
}

#profile-header figure img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
}

#shop-info {
   text-align: center;
}

#shop-info h4,
#shop-info p {
   color: #4f4f4f;
}

#shop-info h4 {
   font-weight: lighter;   
}

#shop-info p {  
   max-width: 300px;
   margin: 5px auto;
   padding: 0 10px;
}

#interaction-btns {
   margin: 5px 0;
}

#interaction-btns button {
   width: 100px;
   height: 35px;
   border: none;
   outline: none;
   border-radius: 5px;
}

#interaction-btns #follow {
   background-color: #0978e8;
   color: white;
   margin-left: 15px;
}

#shop-stats,
#shop-products,
#shop-opinions,
#shop-social-networks {
   margin-top: 15px;
}

@media screen and (min-width:768px) {
   #shop-stats {
      flex-direction: row;
      justify-content: center;
   }
}

#shop-products > h3,
#shop-opinions > h3 {
   font-size: 6vw;
   margin-bottom: 5px;
}

@media screen and (min-width:600px) {
   #shop-products h3,
   #shop-opinions h3 {
      font-size: 1.7em;
   }
}

#products,
#opinions {
   display: inherit;
   flex-wrap: wrap;
   justify-content: center;
   width: 100%;
}

#shop-opinions {
   margin-bottom: 20px;
}

@media screen and (min-width:768px) {
   #shop-profile {
      display: grid;
      grid-template-columns: 30% 55%;
      padding-top: calc(120px + 20px);
      justify-content: center;
      align-items: unset;
   }
   #shop-stats {
      grid-row: 2;
   }
   #shop-products {
      grid-row: 1/4;
      margin: 0;
      min-width: 770px;
   }
}

@media (min-width:768px) and (max-width:1400px) {
   #interaction-btns {
      display: inherit;
      flex-direction: column;
   }
   #interaction-btns #follow {
      margin: 7.5px 0;
   }
   #shop-stats {
      flex-direction: column;
   }
   #shop-stats .stat {
      margin: 7px 0;
   }
   #shop-opinions h3 {
      text-align: center;
   }
   #opinions .opinion {
      flex-direction: column;
   }
   .opinion img {
      margin: 5px 0;
   }
   .opinion .opinion-content {
      border-left: 2px solid black;
      padding: 5px;
   }
}