#shop-profile {
   background-color: #d5d5e040;
   padding-top: calc(75px + 15px);
   padding-bottom: 25px;
}

.profile-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   width: 90%;
   padding: 4vh 0;
   border-radius: 10px;
   margin: auto;
}

#shop-profile section:not(:first-child) {
   margin-top: 15px;
}

#profile-header figure img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
}

#shop-info {
   text-align: center;
}

#shop-info h4,
#shop-info p {
   color: #4f4f4f;
}

#shop-info h4 {
   font-weight: lighter;   
}

#shop-info p {  
   max-width: 300px;
   margin: 5px auto;
   padding: 0 10px;
}

#interaction-btns {
   margin: 5px 0;
}

#interaction-btns button {
   width: 100px;
   height: 35px;
   border: none;
   outline: none;
   border-radius: 5px;
}

#interaction-btns #follow {
   background-color: #0978e8;
   color: white;
   margin-left: 15px;
}

.section-title {
   font-size: 6vw;
   margin-bottom: 5px;
}

@media screen and (min-width:600px) {
   .section-title {
      font-size: 1.7em;
   }
}
#products {
   flex-wrap: wrap;
   justify-content: center;
}
#products .product-card {
   width: calc(90% - 40px);
   max-width: 300px;
   margin: 10px;
}

#products,
#opinions {
   display: inherit;
}

#opinions {
   flex-direction: column;
   align-items: center;
}

@media screen and (min-width:768px) {
   #shop-profile {
      display: grid;
      grid-template-columns: 30% min-content;
      justify-content: center;
      padding-top: calc(120px + 15px);
   }
   #shop-stats {
      justify-content: center;
      grid-row: 2;
   }
   #shop-profile #shop-products {
      grid-row: 1/4;
      margin: 0;
      min-width: 770px;
      margin-bottom: 20px;
      margin-top: 0;
      height: max-content;
   }
}

@media (min-width:768px) and (max-width:1400px) {
   #interaction-btns {
      display: inherit;
      flex-direction: column;
   }
   #interaction-btns #follow {
      margin: 7.5px 0;
   }
   #shop-stats {
      flex-direction: column;
   }
   #shop-stats .stat {
      margin: 7px 0;
   }
   #shop-opinions h3 {
      text-align: center;
   }
   #opinions .opinion {
      flex-direction: column;
   }
   .opinion img {
      margin: 5px 0;
   }
   .opinion .opinion-content {
      border-left: 2px solid black;
      padding: 5px;
   }
}

@media screen and (min-width:1401px) {
   #shop-stats {
      flex-direction: row;
   }
}