#shop-tags-wrapper {
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    text-align: center;
}

#header > h1 {
    font-size: 1.5em;
}

#header > h2 {
    font-size: 1.1em;
    font-weight: lighter;
}

#header > img {
    height: 150px;
    margin-top: 10px;
}

#selected-tags {
    width: 300px;
    height: 150px;
    background-color: #EBEBEB;
    border-radius: 5px;
}

#shop-tags-wrapper > button {
    margin-top: 20px;
    width: 110px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    background: none;
    outline: none;
}

#tags-form {
    width: 100%;
    max-width: 442px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#tags-form > .tagbox-wrapper {
    margin: 12.5px;
}

@media screen and (min-height:550px) {
    #shop-tags-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}