.profile-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 90%;
   padding: 4vh 0;
   margin: auto;
   border-radius: 10px;
   background-color: white;
}

.section-title {
   font-size: 6vw;
   margin-bottom: 5px;
}

#shop-profile {
   background-color: #d5d5e040;
   padding-top: calc(75px + 15px);
   padding-bottom: 25px;
}

#shop-profile section:not(:first-child) {
   margin-top: 15px;
}

#profile-header figure img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
}

#shop-info {
   text-align: center;
   color: #4f4f4f;
}

#shop-info h2 {
   color: initial;   
}

#shop-info p {  
   max-width: 300px;
   margin: 5px auto;
   padding: 0 10px;
}

#interaction-btns {
   margin: 5px 0;
}

#interaction-btns button {
   width: 100px;
   height: 37px;
   border: none;
   outline: none;
   border-radius: 5px;
   border: 2px solid black;
   background: none;
}

#interaction-btns button:nth-child(2) {
   border: 2px solid #0978e8;
   color: #0978e8;
   margin-left: 10px;
}

#products, #opinions {
   display: inherit;
}

#products {
   flex-wrap: wrap;
   justify-content: center;
}

#products .product-card {
   width: calc(90% - 40px);
   max-width: 300px;
   margin: 10px;
}

#opinions {
   flex-direction: column;
   align-items: center;
}

@media screen and (min-width:600px) {
   .section-title {
      font-size: 1.7em;
   }
}

@media screen and (min-width:768px) {
   #shop-profile {
      display: grid;
      grid-template-columns: 30% min-content;
      justify-content: center;
      padding-top: calc(120px + 15px);
   }
   #shop-stats {
      justify-content: center;
      flex-direction: row;
      grid-row: 2;
   }
   #shop-profile #shop-products {
      grid-row: 1/4;
      margin-top: 0;
      min-width: 770px;
   }
}

@media (min-width:768px) and (max-width:900px) {
   #interaction-btns {
      display: inherit;
      flex-direction: column;
   }
   #interaction-btns button:nth-child(2) {
      margin-left: 0;
      margin-top: 7.5px;
   }
}

@media (min-width:768px) and (max-width:1100px) {
   #shop-profile #shop-products {
      min-width: 515px;
   }
}

@media (min-width:768px) and (max-width:1400px) {
   #shop-stats {
      flex-direction: column;
   }
   #shop-opinions h3 {
      text-align: center;
   }
}
