button, input {
    outline: none;
}

#shop-tags-wrapper {
    margin: 15px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    text-align: center;
}

#header > h1 {
    font-size: 1.5em;
}

#header > h2 {
    font-size: 1.1em;
    font-weight: lighter;
}

#header > img {
    height: 150px;
    margin-top: 10px;
}

#search-filter {
    width: 250px;
    margin: 10px 0;
    height: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 1em;    
    box-shadow: 0px 0px 10px 2px rgb(161 211 240);
}

#search-filter::placeholder {
    color: #4d6a7a;
}

#shop-tags-wrapper > h3 {
    margin-bottom: 7px;
}

#selected-tags {
    width: 300px;
    height: 150px;
    background-color: #EBEBEB;
    border-radius: 5px;
}

#shop-tags-wrapper > button {
    margin-top: 10px;
    width: 100px;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    background: none;
}

@media screen and (min-height:550px) {
    #shop-tags-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}