#social-nets-form {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}

#social-nets-form > h1 {
    text-align: center;
    font-size: 1.8em;
}

#social-nets-wrapper {
    height: 400px;
    display: inherit;
    flex-direction: inherit;
    justify-content: space-evenly;
}

#social-nets-form > button {
    width: 110px;
    height: 40px;
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 5px;
}

@media screen and (min-width: 500px) {
    #social-nets-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
