#tags-form {
   margin: 5vh 0;
   display: flex;
   flex-direction: column;
   align-items: center;
}

#tags-header {
   text-align: center;
}

#tags-entries {
   max-width: 575px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

#tags-form #btnloader-wrapper {
   margin-top: 10px;
}