
/* User Profile page styles (IT'S DONE) */

#user-profile {
   padding: 75px 0 25px 0;
   background-color: #d5d5e040;
}

#user-profile section:not(:first-child) {
   margin-top: 15px;
}

.profile-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: calc(90% - 20px);
   padding: 4vh 10px;
   margin: auto;
   border-radius: 10px;
   background-color: white;
}

.section-title {
   font-size: clamp(1em, 6vw, 1.45em);
   margin-bottom: 5px;
}

@media (min-width: 768px) {
   #user-profile {
      padding-top: 120px;
   }
}

/* -------------------------------------- */

@media (min-width: 768px) {
   #clients-opinions {
      position: sticky;
      top: 75px;
   }
}

@media (min-width:768px) {
   #user-profile {
      display: grid;
      grid-template-rows: max-content max-content;
      justify-content: center;
   }
   #user-stats {
      grid-row: 2;
   }
   .opinion {
      width: calc(90% - 10px);
   }
   #user-profile #user-products {
      grid-row: 1/4;
      margin-top: 0;
      width: 60vw;
      max-width: 1250px;
      height: calc(100% - 8vh);
   }
}

@media (min-width:768px) and (max-width:1400px) {
   #user-stats {
      flex-direction: column;
   }
   .stat {
      margin: 10px 0;
   }
}

/* añadir esta clase cuando no hay productos al #user-products */
.no-prods-styles {
   height: calc(100% - 8vh);
   justify-content: center;
}

.blank-header {
   text-align: center;
}