#user-profile {
   background-color: #d5d5e040;
   padding-top: calc(75px + 15px);
   padding-bottom: 25px;
}

#user-profile section:not(:first-child) {
   margin-top: 15px;
}

.profile-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: calc(90% - 20px);
   padding: 4vh 10px;
   margin: auto;
   border-radius: 10px;
   background-color: white;
}

.sub-section {
   max-width: 600px;
}

.section-title {
   font-size: 6vw;
   margin-bottom: 5px;
}

#profile-header img {
   height: 150px;
   width: 150px;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 5px;
}

#user-info {
   text-align: center;
   color: #4f4f4f;
}

#user-info h2 {
   color: initial;   
}

#user-info p {  
   max-width: 300px;
   margin: 5px auto;
   padding: 0 10px;
}

#interaction-btns {
   margin-top: 10px;
}

#interaction-btns button {
   width: 100px;
   height: 37px;
   outline: none;
   border-radius: 5px;
   font-size: .9em;
}

#interaction-btns button:first-of-type {
   border: 2px solid black;
   background: none;
} 

#products {
   display: inherit;
   flex-wrap: wrap;
   justify-content: center;
}

@media (min-width:505px) {
   #user-stats {
      flex-direction: row;
      justify-content: center;
   }
   .stat {
      margin: 0 10px;
   }
}

@media (min-width:600px) {
   .section-title {
      font-size: 1.5em;
   }
}

@media (min-width:768px) {
   #user-profile {
      display: grid;
      grid-template-rows: max-content max-content;
      justify-content: center;
      padding-top: 135px;
   }
   #user-stats {
      /* flex-direction: row; */
      grid-row: 2;
   }
   .profile-section {
      /* height: max-content; */
   }
   .opinion {
      width: calc(90% - 10px);
   }
   #user-profile #user-products {
      grid-row: 1/4;
      margin-top: 0;
      width: 60vw;
      max-width: 1250px;
   }
}

@media (max-width:768px) {
   #user-products {
      max-width: 600px;
   }
}

@media (min-width:768px) and (max-width:1400px) {
   #user-stats {
      flex-direction: column;
   }
   .stat {
      margin: 10px 0;
   }
}

#products > p {
   text-align: center;
}
/* @media (min-width:1400px) {
   #user-stats {
      justify-content: center;
   }
} */
