#rating-selector {
   display: flex;
   margin-bottom: 10px;
}

#rating-selector button {
   font-size: 2em;
   margin: 0 10px;
   outline: none;
   border: none;
}

#rating-view {
   width: 90px;
   height: 90px;
   display: inherit;
   align-items: center;
   justify-content: center;
   border-radius: 5px;
   font-weight: bolder;
   margin-bottom: 7.5px;
   font-size: 1.9em;
   background-color: #6dcc6d;
}

