#piu-wrapper span {
   display: flex;
   justify-content: center;
}

#piu-wrapper span p {
   margin-left: 5px;
   color: red;
}

#product-image-uploader {
   height: 175px;
   border: 2px solid black;
   margin-top: 7px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 5px;
}

#product-image-uploader button {
   width: 130px;
   height: 40px;
   border: 2px solid black;
   border-radius: 5px;
   background-color: #e48e66;
   outline: none;
}