#product-gallery {
   width: 85vw;
   max-width: 325px;
   background-color: #f1f1f1;
   padding: 15px;
   border-radius: 5px 0 0 5px;
   /* position: relative; */
   overflow: hidden;
}

#product-gallery figure {
   position: relative;
}

#product-gallery figure img {
   border-radius: 5px;
   width: 100%;
   object-fit: cover;
}

#zoom-modal {
   position: absolute;
   top: 0;
   border: solid white;
   border-width: 5px 0;
   height: calc(100% - 10px);
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #636363c2;
   transform: translateX(calc(-100% - 30px));
   transition: transform .3s;
}

#modal-eye {
   font-size: 5em;
   color: white;
}

#modal-eye:hover {
   color: #5a94d7f2;
}

#gallery-items {
   margin-top: 5px;
}

#gallery-items img {
   width: calc(25% - 5px);
   height: 65px;
   object-fit: cover;
   margin-right: 5px;
   border-radius: 5px;
}

#gallery-items img:last-of-type {
   width: 25%;
   margin-right: 0;
}

@media (min-width: 768px) {
   #product-gallery {
      height: calc(100% - 30px);
      display: flex;
      flex-direction: column;
   }
   #product-gallery figure {
      flex: 1;
   }
   #product-gallery figure img {
      height: 100%;
      max-height: 450px;
   }
   #product-gallery figure:hover #zoom-modal {
      transform: initial;
   }
   .img-modal-displayer {
      background: none;
      width: 90vw; 
      height: 90vh;
   }
   .img-modal-displayer .swal-content {
      height: calc(100% - 40px);
      display: flex;
      align-items: center;
      justify-content: center;
   }   
   .img-modal-displayer #to-display {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: #0000008a;
      border-radius: 5px;
   }
   .center-page {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0 !important;
   }
}

/* Terminado, nada más que revisar... */
