/* Sweet alert styles mods */

#custom-swal .swal-icon,
#custom-swal .swal-title {
   margin-bottom: 0;
}

#custom-swal .swal-title {
   max-width: 350px;
   margin: 0 auto;
}

#custom-swal .swal-content {
   margin-top: 5px;
}

#custom-swal .swal-content p {
   border-left: 2px solid black;
   text-align: left;
   padding: 5px 0 5px 10px;
   font-size: 6vw;
   max-width: 350px;
   margin: 0 auto;
}

#custom-swal .swal-content p span {
   font-weight: bold;
}
@media screen and (min-width: 500px) {
   #custom-swal .swal-content p {
      font-size: 1.5em;
   }
}
