.fav-icon {
   width: 25px;
}

button#fav-btn {
   width: 175px !important;
   transition: .4s;
}

button.btn-no-fav {
   color: red;
}

button.btn-is-fav {
   background-color: red !important;
   color: white;
   border-color: red !important;
}

/* Terminado, nada más que revisar... */