.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 350px;
}

.input-wrapper label {
    font-size: 1.1em;
    font-weight: bold;
}

.input-wrapper input {
    height: 40px;
    outline: none;
    padding-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.1em;
    z-index: 1;
}

.input-wrapper span {
    transform: translateY(-45px);
    color: red;
    padding: 1.5px 0 0 3px;
    transition: .4s transform;
}
/*  Teminado */