#navbar-wrapper {
   height: 55px;
   display: flex;
   background-color: #36393F;
   justify-content: space-between;
   padding: 5px 10px;
   align-items: center;
   position: fixed;
   width: calc(100% - 20px);
   z-index: 2;
}

#navbar-wrapper a figure {
   width: 50px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

#navbar-wrapper figure a {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: 3;
}

#navbar-wrapper figure img {
   width: calc(95% - 3.5px);
   transition: .3s;
   z-index: 2;
}

#logged-user-interaction img {
   width: 45px;
   border-radius: 50%;
}

#navbar-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   list-style: none;
   height: calc(100vh - 65px);
   margin-top: 65px;
   width: calc(40vw - 10px);
   max-width: 160px;
   position: absolute;
   border-right: 2px solid #36393f;
   left: 0;
   top: 0;
   font-size: 1.4em;
   background-color: #36393ff0;
   padding-left: 10px;
   transition: all .4s;
   transform: translateX(-100%);
}

#navbar-links a {
   margin-bottom: 10px;
   border-left: 3px solid #36393f;
   padding: 5px;
   text-decoration: none;
   color: #ffffff;
}

.show-links {
   transform: initial !important;
}

.user-rounded-picture {
   height: calc(95% - 3.5px);
   object-fit: cover;
   border-radius: 50%;
   border: 2px solid white;
   padding: 1px;
}

#logout-btn {
   height: 40px;
   color: #f85f76;
   font-size: 2.5em;
}

@media screen and (min-width:768px) {
   
   #navbar-wrapper {
      justify-content: center;
   }

   #navbar-links {      
      transform: initial;
      height: 45px;
      flex-direction: row;
      padding: 0;
      border: none;
      left: unset;
      align-items: center;
      justify-content: space-evenly;
      font-size: 1.2em;
      border-radius: 0 0 7px 7px;
      width: 550px;
      max-width: unset;
      overflow-y: hidden;
   }

   #navbar-links a {
      padding: 0;
      margin: 0;
      border: none;
      cursor: pointer;
   }
   
   #navbar-links a:hover {
      color: #c7c7c7;
   }
   #logout-btn {
      position: absolute;
      right: 10px;
   }
}

/* Scroll clasess: */

/* .navbar-wrapper-on-scroll {
   justify-content: space-evenly !important;
} */

.profile-link-on-scroll {
   position: absolute;
   right: 10px;
}

.navbar-links-on-scroll {
   margin: 0  !important;
   position: static  !important;
}

.logout-btn-on-scroll {
   transform: translateX(calc(100% + 10px))  !important;
}

