#navbar-wrapper {
   height: 55px;
   display: flex;
   background-color: #36393F;
   justify-content: space-between;
   padding: 5px 10px;
   align-items: center;
   position: fixed;
   width: calc(100% - 20px);
   z-index: 2;
}

#navbar-wrapper figure {
   width: 50px;
   height: 50px;
}

#navbar-wrapper figure img {
   width: 100%;
}

#navbar-links {
   display: flex;
   flex-direction: column;
   justify-content: center;
   list-style: none;
   height: calc(100vh - 65px);
   margin-top: 65px;
   width: calc(40vw - 10px);
   max-width: 160px;
   position: absolute;
   border-right: 2px solid #36393f;
   left: 0;
   top: 0;
   font-size: 1.4em;
   background-color: #36393ff0;
   padding-left: 10px;
   transition: transform .6s;
   transform: translateX(-100%);
}

#navbar-links li {
   margin-bottom: 10px;
   border-left: 3px solid #36393f;
   padding: 5px;
}

#navbar-links li a {
   text-decoration: none;
   color: #ffffff;
}

.show-links {
   transform: initial !important;
}

@media screen and (min-width:768px) {
   
   #navbar-wrapper {
      justify-content: center;
   }

   #navbar-links {      
      transform: initial;
      height: 45px;
      flex-direction: row;
      padding: 0;
      border: none;
      left: unset;
      align-items: center;
      justify-content: space-evenly;
      font-size: 1.2em;
      border-radius: 0 0 7px 7px;
      width: 550px;
      max-width: unset;
   }

   #navbar-links li {
      padding: 0;
      margin: 0;
      border: none;
   }
   
   #navbar-links li a:hover {
      color: #c7c7c7;
   }
}