.user-card {
   width: 90vw;
   max-width: 320px;
   display: flex;
   border: 2px solid black;
   padding: 10px;
   border-radius: 5px;
   margin: 5px;
   overflow-wrap: anywhere;
}

.user-card img {
   width: 75px;
   height: 75px;
   object-fit: cover;
   border-radius: 5px;
}

.user-card div {
   /* flex: 1; */
   padding-left: 10px;
   display: inherit;
   flex-direction: column;
   justify-content: center;
}

.user-card div p {
   font-size: .9em;
}

.user-card div h4 {
   color: #999999;
   font-weight: lighter;
}

/* Terminado, nada más que resumir... */