.product-wrapper {
   display: flex;
   flex-direction: column;
   position: relative;
   max-width: 340px;
   margin: 10px;
   padding: 10px;
   border: 2px solid black;
   border-radius: 10px;
   overflow: hidden;
}

.product-user {
   display: inherit;
}

.product-user a .logo {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   object-fit: cover;
   margin-right: 10px;
}

.product-user .product-user-info {
   font-size: 0.8em;
   /* height: 45px; */
}

.product-wrapper .product-img {
   height: 225px;
   margin: 10px 0;
   width: 100%;
   object-fit: contain;
}

.product-footer {
   border-left: 2px solid black;
   padding: 5px;
}

.product-footer span {
   font-weight: bold;
   font-size: 1.2em;
   overflow-wrap: break-word;
}

.product-wrapper .fav-icon {
   position: absolute;
   right: 0;
   padding-right: 10px;
}

.product-wrapper .product-nav {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: #42454acc;
   left: 0;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: .5s;
   transform: translateY(100%);
}

.product-nav button {
   width: 185px;
   height: 45px;
   border-radius: 5px;
   font-size: 1.0em;
   border: 2px solid #5d5d5d;
}

.show-navigation {
   transform: initial !important;
}

/* Terminado, nada más que revisar... */