#uploader-wrapper {
   border: 1px solid gray;
   border-radius: 5px;
   padding: 10px;
   margin: 10px auto;
}

#loadpic-btn {
   display: flex;
   align-items: center;
   width: 100%;
   color: #656565;
   border: 2px solid grey;
   font-weight: bold;
   outline: none;
   font-size: 1.1em;
   overflow: hidden;
}

#loadpic-btn figure {
   height: 38px;
   display: inherit;
   align-items: inherit;
   padding: 2px;
   border-right: 2px solid grey;
}

#loadpic-btn figure img {
   height: 95%;
}

#loadpic-btn span {
   width: 100%;
}

.on-success {
   height: 42px;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #00E077;
   color: white;
}

@keyframes span-animation {
   50% {
      transform: translateX(calc(-100% - 40px));
   }
   100% {
      transform: initial;
   }
}

@keyframes img-animation {
   50% {
      transform: translateY(115%);
   }
   100% {
      transform: initial;
   }
}

/* REVISADO Y NO HAY MÁS QUE RESUMIR: 02/02/2021 */