.opinion {
   width: calc(85vw - 20px);
   max-width: 325px;
   margin: 7px;
   font-size: 0.9em;
   border-left: 3px solid black;
   padding: 3px 0 3px 7px;
}

.opinion > div {
   display: flex;
   justify-content: space-between;
}

.opinion > div span {
   padding: 0 10px;
   border-radius: 3px;
}

.opinion > p {
   overflow-wrap: break-word;
   color: #818181;
}

/* REVISADO Y NO HAY MÁS QUE RESUMIR: 2/02/2021 */