@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400;1,700&display=swap');

* {
   padding: 0;
   margin: 0;
   font-family: 'Lato', cursive;
}

#root > *:nth-child(2):not(#landing-page, #post-product-page, #login-form) {
   padding-top: 75px;
}
@media (min-width: 768px) {
   #root > *:nth-child(2):not(#post-product-page, #opinion-form, #login-form, #landing-page, #contact-form) {
      padding-top: 125px;
   }
   #root > :is(#post-product-page, #opinion-form, #login-form) {
      padding: 0;
   }
}

/* Sweet alert modified styles */

.swal-modal-text {
   font-size: 1.5em;
   border-left: 3px solid;
   text-align: left;
   padding: 7px;
   max-width: 345px;
   margin: auto;
}

.swal-modal-text span {
   color: #e64942;
   font-size: .9em;
}

.swal-text {
   text-align: center;
}